a:link{
	color: blue;
	text-decoration: none;
}
a:visited{
	color: blue;
	text-decoration: none;
}
a:hover{
	color: blue;
	text-decoration: none;
}
a:active{
	color: blue;
	text-decoration: none;
}
a.menua{
	text-decoration: underline;
}
table{
	background-color: white;
	color: black;
	border-spacing: 5px;
	border-color: gray;
	width: 96%;
	margin-top: 20px;
	margin-bottom: 20px;
	border-style: double;
	border-width: 8px;
}
td{
	padding: 5px;
	line-height: 120%;
}
body{
	background-image: url('wallpaper.png');
	background-color: white;
}
dd{
	margin-bottom: 10px;
}
textarea{
	outline: none;
	resize: both;
	width: auto;
	overflow: auto;
}